body {
    background-color: #141618;
    /* text-align: center; */
    color: white;
    font-family: "Roboto", sans-serif;
}



.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #24272a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1em;
    /* text-align: center; */
}

.sidenavElement {
    display: block;
    padding: 0.6em 1em;
    text-decoration: none;
    color: white;
}

.sidenavElement:hover:not(.active) {
    background-color: #2d2f32;
    color: white;
}

h3.sidenavElement:hover:not(.active) {
    background-color: #24272a;
    color: white;
}

.sidenavElement.active {
    background-color: #2d2f32;
    color: white;
}

form {
    background-color: #24272a;
    padding: 20px;
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 5%;
    /* display: none; */
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #2d2f32;
    color: white;
}

button {
    width: 100%;
    background-color: #43aefc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #26a2fc;
}
