<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxWallet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <h3 class="sidenavElement" id="FoxWallet"><b>🦊 FOX WALLET</b></h3>
        <div><a class="sidenavElement" href="#"> 📊 Overview</a></div>
        <div><a class="sidenavElement" id="defaultTab" href="#" onclick="changeTab(event, 'moveCrypto')">🔁 Move Crypto</a></div>
        <div><a class="sidenavElement" href="#" onclick="changeTab(event, 'depositNWithdraw')">💸 Deposit & Withdraw</a>
        </div>
        <div><a class="sidenavElement" href="#">🪙 Tokens</a></div>
        <div><a class="sidenavElement" href="#">🖼️ NFTs</a></div>
        <div><a class="sidenavElement" href="#">🕹️ Games</a></div>
    </div>


    <form id="moveCrypto" class="tabcontent" onsubmit="return false;">
        <p>
            <b>Send from</b>
            <select id="senders" name="senders" onchange="GetBalance()">
                <option>No Acount Detected Yet</option>
            </select>

            <button onclick="GetSender()">Refresh Sender</button>
        </p>
        <p>
            <b id="Balance">? ETH available to swap</b>
            <button onclick="GetBalance()">Refresh Balance</button>
        </p>
        <div>
            <input type="text" id="recipient" placeholder="recipient" />
            <input type="text" id="amount" placeholder="amount" />
            <button onclick="TranferTo()">Tranfer</button>
        </div>
    </form>

    <form id="depositNWithdraw" class="tabcontent" onsubmit="return false;">
        <p>
            test
        </p>
    </form>
</body>

</html>