<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxWallet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/web3/dist/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
        <h3 class="sidenavElement" id="FoxWallet"><b>🦊 FOX WALLET</b></h3>
        <div><a class="sidenavElement" href="#"> 📊 Overview</a></div>
        <div><a class="sidenavElement" id="defaultTab" href="#" onclick="changeTab(event, 'moveCrypto')">🔁 Move
                Crypto</a></div>
        <div><a class="sidenavElement" href="#" onclick="changeTab(event, 'bank')">🏦 Bank</a></div>
        <div><a class="sidenavElement" href="#" onclick="changeTab(event, 'logs');loadLogs()">🧾 Logs</a></div>
        <div><a class="sidenavElement" href="#">🪙 Tokens</a></div>
        <div><a class="sidenavElement" href="#">🖼️ NFTs</a></div>
        <div><a class="sidenavElement" href="#">🕹️ Games</a></div>
    </div>

    <form id="Account" onsubmit="return false;">
        <p>
            <b>Send from</b>
            <select id="senders" name="senders" onchange="GetBalance()">
                <option>No Acount Detected Yet</option>
            </select>

            <button onclick="GetSender()">Refresh Sender</button>
        </p>
        <p>
            <b id="Balance">? ETH available to swap</b>
            <button onclick="GetBalance()">Refresh Balance</button>
        </p>
    </form>

    <form id="moveCrypto" class="tabcontent" onsubmit="return false;">
        <div>
            <input type="text" id="recipient" placeholder="recipient" />
            <input type="text" id="amount" placeholder="amount" />
            <button onclick="TransferTo()">Transfer</button>
        </div>
    </form>

    <form id="bank" class="tabcontent" onsubmit="return false;">
        <div>
            <b id="bankBalance">? ETH available in Bank</b>
            <button onclick="bankBalance()">Refresh Bank Balance</button>
            <input type="text" id="depositAmount" placeholder="deposit amount" />
            <button onclick="bankDeposit()">Deposit</button>
            <input type="text" id="withdrawAmount" placeholder="withdraw amount" />
            <button onclick="bankWithdraw()">Withdraw</button>
        </div>
    </form>

    <form id="logs" class="tabcontent" onsubmit="return false;">
        <table id="logs-table">
            <thead>
                <tr>
                    <th>Payer</th>
                    <th>Payee</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</body>

</html>